# ROS Specific ignores
devel/
logs/
build/
bin/
lib/
install/
msg_gen/
srv_gen/

# Generated ROS messages
msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg

# Python specific
*.py[cod]
*.so
__pycache__/
msg/_*.py
srv/_*.py

# Dynamic reconfigure
*.cfgc
/cfg/cpp/
/cfg/*.py

# Documentation
*.dox
*.wikidoc

# IDE specific
## Eclipse
.project
.cproject
.settings/

## Qt Creator
CMakeLists.txt.user
qtcreator-*
*.user

## VSCode
.vscode/

# Build and temporary files
build_isolated/
devel_isolated/
.catkin_tools/
.catkin_workspace
*~

# Editor temporary files
## Emacs
.#*
\#*\#

## Vim
*.swp
*.swo

# Custom project specific
# 在 .gitignore 中添加
pangolin_visual_slam/pangolin_isaac_ros_visual_slam/map/data.mdb
pangolin_visual_slam/pangolin_isaac_ros_visual_slam/map_temp/data.mdb
*.mdb

# Other common files to ignore
*.pcd
.DS_Store